# ---------------------------------------------------------------------------
# File name:    SMB2.CNF                           Revision Date: 2020.08.16
# Created by:   Ronnie Sahlberg                    Creation Date: 2020.08.16
# ---------------------------------------------------------------------------
# Purpose:      Define SMB2 servers for the SMB2 implementation of wLaunchELF
# ---------------------------------------------------------------------------
NAME = Home-NAS
USERNAME = user
PASSWORD = password
URL = smb://192.168.0.1/Share/
#----------------------------------------------------------------------------
#----------------------------------------------------------------------------
# End of file: SMB.CNF
#----------------------------------------------------------------------------
